<% wrap_layout :layout do %>

 <div class="article-container"> 
  <article>

    <h2 class="article-title"><%= current_page.title %></h2>
   
     <aside class="article-summary">
       <p>
         <%= current_page.data.intro %>
       </p>
     </aside>
     
    <div class="article-tags">   
      <% current_page.tags.each do |tag| %>
         <a class="article-tag" href="<%= tag_path tag %>"><%= tag %></a>
      <% end %>
    </div>
    
  <%= yield %>

   </article>
    
  <%= partial 'content-navigation' %>
  
  </div>

<% end %>