---
pageable: false
---

<div class="article">
  <% article = blog.articles.sort_by{|y| y.date}.last %>
    <% if article.data.type == "article" %>
      <h3 class="article-title">
        <%= link_to article.title, article %>
      </h3>
      <p class="article-body">
        <%= article.data.intro %>
      </p>
    <% end %>
</div>

<aside>
  <ul class="article-list">
    <% blog.articles[1...4].each do |article| %>
    <% if article.data.type == "article" %>
      <li class="article-list-item">
       <h4 class="article-list-item-title"><%= link_to article.title, article %></h4>
      </li>
      <% end %>
    <% end %>
  </ul>
</aside>

<% page_articles.each_with_index do |article, i| %>
  <% if article.data.type == "project" %>
  <div class="project-container">
    <h3 class="project-title"><%= link_to article.title, article %> <span></span></h3>
    <% article.tags.each do |tag| %>
      <ul class="project-tags">
        <li>
          <a class="project-tag" href="<%= tag_path tag %>"><%= tag %></a>
        </li>
      </ul>
    <% end %>
    <%= image_tag article.data.feature, :class => 'project-image' %>    
  </div>
  <% end %>
<% end %>

